/*- Body -*/
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/*- Carrousel -*/

#carrousel{
    position:relative;
    height:350px;
    width:350px;
    margin:auto;
}

#carrousel ul {
    list-style: none;
}

#carrousel ul li{
    position:absolute;
    top:0;
    left:0;
}


#carrousel ul li img  {
  margin:0 auto;
  width:350px;
  height:350px;
 }

.controls {
  	color: #fff;
    display: block;
    position: relative;
}
.next {
	float: right;
}

/*- Map -*/
.bouton {
	box-shadow: rgb(0, 0, 0) 0px 19px 41px -14px;
    background-color: rgb(255, 255, 255);
    border-radius: 36px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 10px;
    padding: 5px 5px;
    text-decoration: none;
}


#mapid { height: 600px; }

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}