/*- Body -*/
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/*- Carrousel -*/

#carrousel{
    position:relative;
    height:350px;
    width:350px;
    margin:auto;
}

#carrousel ul {
    list-style: none;
}

#carrousel ul li{
    position:absolute;
    top:0;
    left:0;
}


#carrousel ul li img  {
  margin:0 auto;
  width:350px;
  height:350px;
 }

.controls {
  color: #fff;
    display: block;
    position: relative;
}



/*- Map -*/

#mapid { height: 600px; }

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}