/*- Body -*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/*- Carrousel -*/

#carrousel{
    position:relative;
    height:350px;
    width:350px;
    margin:auto;
}

#carrousel ul {
    list-style: none;
}

#carrousel ul li{
    position:absolute;
    top:0;
    left:0;
}

#carrousel ul li img  {
  margin:0 auto;
  width:350px;
  height:350px;
}

.text_carrousel {
	margin-top: -90px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.controls {
  	color: #fff;
    display: block;
    position: relative;
}
.next {
	float: right;
}

/*- Html, Body, Map -*/

html, body, #map {
    height: 100%;
    /*--width: 100vw;--*/
	width: 80%;
}

/*- Map -*/

.bouton input[type=submit] {
	box-shadow: rgb(0, 0, 0) 0px 19px 41px -14px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    
    font-family: 'Pattaya', sans-serif;
    font-size: 10px;
    padding: 5px 5px;
    text-decoration: none;
}

#map { height: 600px; 
}

#content {
	position: fixed;
    right: 0px;
    top: 0px;
    width :200px;
    height:600px;
    background-color: #fff;
    padding: 20px;
}

#mapid { height: 600px; }

body {
    padding: 0;
    margin: 0;
}

#register {
    position: relative;
    background: #fff;
    height: 400px;
    width: 250px;
    top: -535px;
    float: right;
    z-index: 10000;
	left: 250px;
}

