/*- Body -*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20em;
}

body {
    padding: 10px;
    margin: 0;
}

.conteneur {
    width: 1020px;
    margin: auto;
    min-height: 100%;
}

h1 {
	color: rosybrown;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
}

#header {
	background-color: #324d5d;
	padding: 10px;
}

/*- Carrousel -*/

#carrousel{
    position:relative;
    height:400px;
    /*-width:800px;-*/
	width:100%;
    margin:auto;
	padding-bottom: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#carrousel ul {
    list-style: none;
	padding: 0;
}

#carrousel ul li{
    position:absolute;
    top:0;
}

#carrousel ul li img  {
  margin:0 auto;
  width: 100%;
}

.text_carrousel {
	margin-top: -150px;
    margin-left: 80px;
    margin-right: 80px;
	margin-bottom: 30px;
	color: ghostwhite;
	text-align: center;
	z-index: 1000;
}

.controls {
  	color: ghostwhite;
    display: block;
    position: relative;
	padding: 10px;
	top: 50%;
}

.prev {
    padding: 5px;
    background-color: lightblue;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 2px 0 rosybrown;
	cursor: pointer;
	
}
.next {
	float: right;
	padding: 5px;
    background-color: lightblue;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 2px 0 rosybrown;
	cursor:pointer;
}

/*- Html, Body, Map -*/

html, body, #map {
    height: 100%;
    /*--width: 100vw;--*/
}

/*- Map -*/

.leaflet-popup-content-wrapper {
	text-align: center;
}

.leaflet-popup-content-wrapper {
	background: white;
}

.bouton input[type=submit] {
	box-shadow: rgb(0, 0, 0) 0px 19px 41px -14px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Pattaya', sans-serif;
    padding: 5px 5px;
    text-decoration: none;
}

#content {
	position: fixed;
    right: 0px;
    top: 0px;
    width :200px;
    height:600px;
    background-color: #fff;
    padding: 20px;
}

#mapid { 
	height: 500px; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register {
    /*position: relative;*/
    background: #fff;
    /*width: 250px;*/
    top: -500px;
    /*float: right;*/
    z-index: 10000;
	/*left: -1px;*/
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display:none;
}

#myCanvas {
	border: 2px solid rosybrown;
	border-radius: 1px;
	width: 200;
	height: 100;
}

/*-- Formulaire --*/
.nom , .prenom , .velo {
	border: 1px solid rosybrown;
	border-radius: 3px;
	padding: 10px;
}

#stockage {
    padding: 10px;
    background-color: lightblue;
    color: #ffffff;
    border-style: none;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 3px 0 rosybrown;
}

/*-- Footer --*/

#copyright {
    text-align: center;
}

#footer {
	width: 100%;
    background-color: #425066;
    color: ghostwhite;
}

#p_footer {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

/*--- MEDIA QUERIES (RESPONSIVE) BREAKPOINTS ---*/
/*--IPHONE--*/
@media all and (max-width: 420px){

.conteneur {
	width: 380px;	
}

#carrousel {
	max-width: 310px;
	height: 150px;
	margin: 0;
}
	
#register {
	max-width: 310px;
}
	
#mapid {
		max-width: 310px;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
}
}

/*--IPAD--*/

@media (min-width: 768px) {
	
.conteneur {
	width: 100%;	
}
	
#carrousel {
	max-width: 600px;
	height: 200px;
	margin: 0;
	padding-bottom: 150px;
	}
	
#register {
	max-width: 300px;
}
	
#mapid {
		max-width: 700px;
		text-align: center !important;
}
}

/*-- Grand format --*/
@media all and (max-width: 1000px) {

#carrousel {
	text-align: center;
}
	
#carrousel ul li img  {
	width: 100%;
	/*margin: 1px;*/
}

#register {
    /*position: relative;*/
    background: #fff;
    width: 100%;
    top: -500px;
    /*float: right;*/
    z-index: 10000;
	left: -1px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display:none;
	padding: 20px;
}
	
#map {
	touch-action: pan-x pan-y;
}
}

/*.leaflet-container 
.leaflet-touch 
.leaflet-retina 
.leaflet-safari 
.leaflet-fade-anim 
.leaflet-grab 
.leaflet-touch-drag 
.leaflet-touch-zoom */